<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
    <header id="header">
        <%- include('../partials/header'); %>
    </header>
    <main>
        <div class="inner">
            <h1>Survey Management</h1>
            <hr/>
            <h3 class="nm-bottom">Survey Analysis</h3>
            <p>An <strong>analysis</strong> of recorded survey responses submitted by users can be seen here.</p>
            <a href="/survey/analysis/mcq" class="btn-s1">MCQ Survey Analysis</a> 
            <a href="/survey/analysis/opinion" class="btn-s1">Opinion Survey Analysis</a> 
            <hr/>
            <h3 class="nm-bottom">Pick Survey Templates</h3>
            <p>You can add questions to any of the 2 templates - <strong>Multiple Choice Questions</strong>  or <strong>Agree/Disagree Questions</strong>.</p>
            <a href="/question/create/mcq" class="btn-s1">Add Multiple Choice Question</a> 
            <a href="/question/create/opinion" class="btn-s1">Add Agree/Disagree Question</a> 
            <hr/>
            <h3 class="nm-bottom">Multiple Choice Template</h3>
            <p>You may <strong>Edit</strong> or <strong>Delete</strong> questions from the list below.</p>
            <table class="table-s1">
                <tr>
                    <th>Question</th>
                    <th>Option 1</th>
                    <th>Option 2</th>
                    <th>Option 3</th>
                    <th>Option 4</th>
                    <th>Active From</th>
                    <th>Expires On</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <% for(var i=0; i < templateData.mcqQuestionData.length; i++) { %>
                    <tr>
                      <td><%= templateData.mcqQuestionData[i].question %></td>
                      <td><%= templateData.mcqQuestionData[i].option1 %></td>
                      <td><%= templateData.mcqQuestionData[i].option2 %></td>
                      <td><%= templateData.mcqQuestionData[i].option3 %></td>
                      <td><%= templateData.mcqQuestionData[i].option4 %></td>
                      <td><%= templateData.mcqQuestionData[i].activation %></td>
                      <td><%= templateData.mcqQuestionData[i].expiry %></td>
                      <td><a href="/question/update/<%= templateData.mcqQuestionData[i].id %>/mcq"><i class="fas fa-edit"></i></a></td>
                      <td><a href="/question/delete/<%= templateData.mcqQuestionData[i].id %>"><i class="fas fa-trash"></i></a></td>
                    </tr>
                 <% } %>


            </table>
             <h3 class="nm-bottom">Agree/Disagree Template</h3>
            <p>You may <strong>Edit</strong> or <strong>Delete</strong> questions from the list below.</p>
            <table class="table-s1">
                <tr>
                    <th>Question</th>
                    <th>Agree</th>
                    <th>Neutral</th>
                    <th>Disagree</th>
                    <th>Active From</th>
                    <th>Expires On</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <% for(var i=0; i < templateData.opinionQuestionData.length; i++) { %>
                    <tr>
                      <td><%= templateData.opinionQuestionData[i].question %></td>
                      <td><i class="far fa-check-square"></i></td>
                      <td><i class="far fa-check-square"></i></td>
                      <td><i class="far fa-check-square"></i></td>
                      <td><%= templateData.opinionQuestionData[i].activation %></td>
                      <td><%= templateData.opinionQuestionData[i].expiry %></td>
                      <td><a href="/question/update/<%= templateData.opinionQuestionData[i].id %>/opinion"><i class="fas fa-edit"></i></a></td>
                      <td><a href="/question/delete/<%= templateData.opinionQuestionData[i].id %>"><i class="fas fa-trash"></i></a></td>
                    </tr>
                 <% } %>
            </table>
        </div>
    </main>
    <footer id="footer">
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>