<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
    <header id="header">
        <%- include('../partials/header'); %>
    </header>
<<<<<<< HEAD
    <main class="main-section">
        <h1 class="title">Take Survey</h1>
        <div class="survey-list">
        <% surveysAvailable.forEach((survey)=>{ %>

            <a href="<%= survey.route %>"><%= survey.name %></a>

        <% }) %>
        </div>
=======
    <main>
        <h1>Take Survey</h1>
>>>>>>> de2502e324dcbd26da702ac7efa3cd0adc286654
    </main>
    <footer id="footer">
        <%- include('../partials/footer'); %>
    </footer>
</body>
<<<<<<< HEAD
</html>
=======
</html>
>>>>>>> de2502e324dcbd26da702ac7efa3cd0adc286654
